<h1 style="text-align: center; margin: 20px 0;">Espaces de Ressources Achetées</h1>
<div class="container">
  <div class="filters-products-container">
    <section class="products">
      <div class="product-card">
        <img src="https://via.placeholder.com/150" alt="Produit 1">
        <h3>Formation JavaScript</h3>
        <p>Apprenez les bases de JavaScript et créez vos projets web.</p>
        <p><strong>Prix : 100€</strong></p>
        <button>Acheter</button>
      </div>
      <div class="product-card">
        <img src="https://via.placeholder.com/150" alt="Produit 1">
        <h3>Formation JavaScript</h3>
        <p>Apprenez les bases de JavaScript et créez vos projets web.</p>
        <p><strong>Prix : 100€</strong></p>
        <button>Acheter</button>
      </div>
      <div class="product-card">
        <img src="https://via.placeholder.com/150" alt="Produit 1">
        <h3>Formation JavaScript</h3>
        <p>Apprenez les bases de JavaScript et créez vos projets web.</p>
        <p><strong>Prix : 100€</strong></p>
        <button>Acheter</button>
      </div>
    </div>
    </section>
  </div>
</div>


<%= stylesheet_link_tag "espacepersonnelle", media: "all" %>
