.container {
    max-width: 900px;
    text-align: center;
    margin: 40px 20px;
  }

  .heading {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
    position: relative;
  }

  .heading span {
    color: #ffda79;
    display: inline-block;
    position: relative;
  }

  .heading span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: #ffda79;
    bottom: -10px;
    left: 0;
  }

  .emoji-icon {
    display: inline-block;
    font-size: 50px;
    vertical-align: middle;
    margin-left: 10px;
  }

  .subheading {
    font-size: 18px;
    margin: 20px 0 30px 0;
    line-height: 1.6;
    color: #dddddd;
  }

  .cta-btn {
    display: inline-block;
    padding: 15px 40px;
    font-size: 20px;
    font-weight: bold;
    background: #ffda79;
    color: #3b0066;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .cta-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  }

  .footer {
    font-size: 16px;
    margin-top: 50px;
    color: #b3b3b3;
  }

  .trusted-avatars {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
  }

  .trusted-avatars img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  .filters-products-container {
    display: flex;
    gap: 20px;
    justify-content: left;
    margin-top: 40px;
  }

  .filters {
    background: transparent;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
  }

  .filters h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .filters label {
    display: flex;
    margin-bottom: 10px;
  }

  .filters input[type="checkbox"],
  .filters input[type="range"] {
    margin-right: 10px;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .product-card {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  .product-card:hover {
    transform: translateY(-5px);
  }

  .product-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  .product-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .product-card p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .product-card button {
    padding: 10px 20px;
    background: #ffda79;
    color: #3b0066;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  .product-card button:hover {
    background-color: #ffe57a;
  }